<div class="container">
  <div class="row">
    <div class="col-md-6">

      <h1><%= @book.title %></h1>
      <hr>
      <p><strong>Description:</strong></p>
      <p><%= @book.author %></p>
      <p><strong>Author:</strong></p>
      <p><%= @book.author %></p>
      <p><strong>Publish Year:</strong></p>
      <p><%= @book.publish_year %></p>
      <%  borrowed = Borrow.find_by(book_id: @book.id, ended_at: nil) %>
      <% if !borrowed %>
        <%= form_with(url: borrow_book_path(@book), method: :patch) do |form| %>
          <%= form.submit 'Borrow', class: 'btn btn-success' %>
        <% end %> 
      <% elsif borrowed && current_user && current_user.id == borrowed.user_id  %>
          <%= form_with(url: return_book_path(@book), method: :patch) do |form| %>
            <%= form.submit 'Return', class: 'btn btn-danger' %>
          <% end %> 
      <% elsif (borrowed && current_user && !current_user.id == borrowed.user_id) || (borrowed && !current_user)%>
          <p class="reserved-text">Already Reserved</p>
      <%end%>
      <%= link_to 'Back', books_path, class: 'btn btn-secondary' %>
    </div>
  </div>

</div>
<style>
  .reserved-text {
  font-weight:bold;
  color: red;
  margin: 0;
}
</style>